<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipeFork - Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('partials/header') -%>
    <article class="content-container">
        <span id="openModal" class="makeBig">&plus;</span>
        <h1 username="<%=usernamePage%>"><% if (user != null && user.username === usernamePage) {%>Welcome <% } %><%= usernamePage %></h1>
        
        <section>
        <% recipes.forEach( el => { %>
            <article class='recipeItem shadow' data-id='<%=el._id%>'>
                <% if (user != null && user.username === usernamePage) {%><span class='del makeBig'>&Chi; </span><span class='edit'>Edit</span><% } %>
                <a href="<%=usernamePage%>/<%=el._id%>">
                    <h3 class="center"><%=el.title%></h3>
                </a>
                <% if (el.description.length > 0) { %>
                    <p><%=el.description.slice(0,128) + '...'%></p>
                <% } %>
                
            </article>
        <% }) %>    
        </section>
    </article>
    <section class="modal">
        <section class="content-container modal-content">
            <span class="close">&times;</span>
            <h2 class="center">Add Recipe</h2>
            <form action="/<%=usernamePage%>/createRecipe" method='POST' class="flex col">
                <input type="text" name="title" placeholder="Recipe Title">
                <input type="text" placeholder="Description (optional)" name='description'>
                <input type="text" placeholder="Ingredients" name='ingredients'>
                <input type="text" placeholder="Instructions" name='instructions'>
                <input type="submit" value="Create Recipe">
            </form>
        </section>
    </section>
    <script src="js/main.js"></script>
</body>
</html>