<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getForks - Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-white">
    <%- include('partials/header') -%>
    <article class="m-auto container">
        <span id="openModal" class="text-3xl font-bold">&plus;</span>
        <h1 username="<%=usernamePage%>">
            <% if (user != null && user.username === usernamePage) {%>Welcome <% } %><%= usernamePage %>
        </h1>
        <section class="container mx-auto flex flex-wrap justify-center space-x-4 align-items center p-2">
        <% repos.filter(repo => repo.display).forEach( repo => { %> 
            <div class="flex flex-col justify-center">
                <a href="/<%=usernamePage%>/<%=repo._id%>">
                <div class="flex flex-col md:flex-row md:max-w-xl h-32 rounded-lg bg-white shadow-lg">
                    <% if (repo.image) {%>
                    <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src="<%=repo.image%>" alt="" />
                    <%}%>
                    <div class="p-6 flex flex-col justify-start">
                        <h5 class="text-gray-900 text-xl font-medium mb-2"><%=repo.title%></h5>
                        <% if (repo.description.length > 0) { %>
                            <p class="text-gray-700 text-base mb-4"><%=repo.description.slice(0,128) + '...'%></p>
                        <% } %>
                        <!-- <p class="text-brBlack text-xs"><%=repo.creationDate%></p> -->
                    </div>
                </div>
            </a>
              </div>

            <!-- <article class='recipeItem shadow' data-id='<%=repo._id%>'>
                <% if (user != null && user.username === usernamePage) {%><span class='del makeBig'>&times; </span><span class='edit makeBig'>&isin;</span><% } %>
                <a href="<%=usernamePage%>/<%=repo._id%>">

                    <h3 class="center"><%=repo.title%></h3>
                </a>
                <% if (repo.description.length > 0) { %>
                    <p class="text-gray-700 text-base mb-4"><%=repo.description.slice(0,128) + '...'%></p>
                <% } %>
            </article> -->
        <% }) %>    
        </section>
    </article>
    <section class="modal">
        <section class="content-container modal-content">
            <span class="close">&times;</span>
            <h2 class="center">Add Recipe</h2>
            <form action="/<%=usernamePage%>/createRecipe" method='POST' enctype="multipart/form-data" class="flex col">
                <input type="text" name="title" placeholder="Recipe Title">
                <input type="text" placeholder="Description (optional)" name='description'>
                <input type="text" placeholder="Notes (optional)" name='notes'>
                <input type="text" placeholder="Ingredients" name='ingredients'>
                <input type="text" placeholder="Instructions" name='instructions'>
                <input type="text" placeholder="Space separated tags" name='tags'>
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
                <input type="submit" value="Create Recipe">
            </form>
        </section>
    </section>
    <script src="js/main.js"></script>
</body>
</html>