<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getForks - Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="bg-white">
    <%- include('partials/header') -%>
    <article class="m-auto container max-w-5xl">
        <div class="flex justify-between items-center">
            <span>&nbsp;</span>
            <h1 username="<%=usernamePage%>" class="font-bold text-xl mt-8 ml-8">
                <% if (user != null && user.username === usernamePage) {%>Welcome <% } %><%= usernamePage %>
            </h1>
            <span id="openModal" class="text-3xl font-bold cursor-pointer mt-8 mr-8" >&plus;</span>
        </div>

        <section class="container mx-auto flex flex-wrap p-2 space-y-1 pb-32">
        <% repos.filter(repo => repo.display).forEach( repo => { %> 
            <div class="flex flex-col justify-center w-full">
                <div class="flex flex-row h-24 rounded-lg bg-white shadow-lg items-between">
                    <% if (repo.image) {%>
                    <img class="w-32 h-auto rounded-t-lg object-cover md:rounded-none md:rounded-l-lg" src="<%=repo.image%>" alt="" />
                    <%} else {%>
                    <div class="ml-2 w-44 md:w-36 h-96 md:h-auto"></div>
                    <%}%>
                    <div class="p-6 flex flex-col w-full">
                        <a href="/<%=usernamePage%>/<%=repo._id%>">
                            <h5 class="text-gray text-xl text-left font-medium hover:text-blue"><%=repo.title%></h5>
                        </a>
                        <div class="flex justify-between">
                        <% if (repo.description.length > 0) { %>
                            <span class="text-gray-700 text-base mb-4"><%=repo.description.slice(0,128) + '...'%></span>
                        <% } else {%>
                            <div></div>
                        <% } %>
                        <a href="/<%=usernamePage%>"><span class="text-gray-700 text-base mb-4 hover:text-blue"><%=user.username%></span></a>
                        </div>
                        <!-- <p class="text-brBlack text-xs"><%=repo.creationDate%></p> -->
                    </div>
                </div>
              </div>

            <!-- <article class='recipeItem shadow' data-id='<%=repo._id%>'>
                <% if (user != null && user.username === usernamePage) {%><span class='del makeBig'>&times; </span><span class='edit makeBig'>&isin;</span><% } %>
                <a href="<%=usernamePage%>/<%=repo._id%>">

                    <h3 class="center"><%=repo.title%></h3>
                </a>
                <% if (repo.description.length > 0) { %>
                    <p class="text-gray-700 text-base mb-4"><%=repo.description.slice(0,128) + '...'%></p>
                <% } %>
            </article> -->
        <% }) %>    
        </section>
    </article>
    <section class="modal">
        <section class="container modal-content max-w-4xl mx-auto flex flex-col">
            <span class="close text-3xl font-bold">&times;</span>
            <h2 class="text-center font-bold text-xl mb-4">Add Recipe</h2>
            <form action="/<%=usernamePage%>/createRecipe" method='POST' enctype="multipart/form-data" class="flex flex-col space-y-2" required>
                <input type="text" name="title" placeholder="Recipe Title" required class="p-1 rounded">
                <input type="text" placeholder="Description (optional)" name='description' class="p-1 rounded">
                <input type="text" placeholder="Notes (optional)" name='notes' class="p-1 rounded">
                <textarea placeholder="Ingredients" name='ingredients' id="ingredients" ></textarea>
                <textarea placeholder="Instructions" name='instructions' id="instructions" required class="p-1 rounded"></textarea>
                <input type="text" placeholder="Space separated tags" name='tags' class="p-1 rounded">
                <div class="flex justify-start items-center">
                    <label for="imgUpload" class="form-label">Image (optional): </label>
                    <input type="file" id="imageUpload" name="file" placeholder="" class="form-control px-4 py-2 hover:text-brBlack cursor:pointer self-start rounded">
                </div>
                <input type="submit" value="Create Recipe" class="font-bold px-4 py-2 bg-blue hover:text-brBlack cursor:pointer self-center rounded mt-8">
            </form>
        </section>
    </section>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ckeditor/4.19.1/ckeditor.js" integrity="sha512-Ooi9IbjM2SIDjQ02ENbPFuuORT8F8Rc+rowcYfLneDwKRxw1+gVVj5tciVmV/APnA/Ys+qy1MbNKK3k2EaAHcw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        CKEDITOR.replace('ingredients')
        CKEDITOR.replace('instructions');
    </script>
</body>
</html>