<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recipeFork - Dashboard</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('partials/header') -%>
    <!-- <% console.log(user) %> -->
    <article class="content-container">
        <h1>Welcome <%=user.userName%>,</h1>
        <section>
        <% recipes.forEach( el => { %>
            <article class='recipeItem shadow' data-id='<%=el._id%>'>
                <a href="dashboard/<%=el._id%>">
                    <h3 class="center"><%=el.title%></h3>
                </a>
                <% if (el.description.length > 0) { %>
                    <p><%=el.description.slice(0,255) + '...'%></p>
                <% } %>
                <p><%=el.ingredients%></p>
                <p><%=el.instructions%></p>
                <p><%=el._id%></p>
                <!-- <span class='del'> Delete </span> -->
            </article>
        <% }) %>    
        </section>
        <section class="content-container">
            <h2 class="center">Add Recipe</h2>
            <form action="/dashboard/createRecipe" method='POST' class="flex col">
                <input type="text" name="title" placeholder="Recipe Title">
                <input type="text" placeholder="Description (optional)" name='description'>
                <input type="text" placeholder="Ingredients" name='ingredients'>
                <input type="text" placeholder="Instructions" name='instructions'>
                <input type="submit" value="Create Recipe">
            </form>
        </section>
    </article>
    <script src="js/main.js"></script>
</body>
</html>