<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getForked - Dashboard</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <%- include('partials/header') -%>
    <article class="content-container">
        <span id="openModal" class="makeBig">&plus;</span>
        <h1 username="<%=usernamePage%>"><% if (user != null && user.username === usernamePage) {%>Welcome <% } %><%= usernamePage %></h1>
        
        <section>
        <% repos.filter(repo => repo.display).forEach( repo => { %> 
            <article class='recipeItem shadow' data-id='<%=repo._id%>'>
                <% if (user != null && user.username === usernamePage) {%><span class='del makeBig'>&times; </span><span class='edit makeBig'>&isin;</span><% } %>
                <a href="<%=usernamePage%>/<%=repo.versions[repo.versions.length-1]%>">
                    <h3 class="center"><%=repo.title%></h3>
                </a>
                <% if (repo.description.length > 0) { %>
                    <p><%=repo.description.slice(0,128) + '...'%></p>
                <% } %>
                 <p><%=repo%></p>
            </article>
        <% }) %>    
        </section>
    </article>
    <section class="modal">
        <section class="content-container modal-content">
            <span class="close">&times;</span>
            <h2 class="center">Add Recipe</h2>
            <form action="/<%=usernamePage%>/createRecipe" method='POST' class="flex col">
                <input type="text" name="title" placeholder="Recipe Title">
                <input type="text" placeholder="Description (optional)" name='description'>
                <input type="text" placeholder="Notes (optional)" name='notes'>
                <input type="text" placeholder="Ingredients" name='ingredients'>
                <input type="text" placeholder="Instructions" name='instructions'>
                <input type="text" placeholder="Space separated tags" name='tags'>
                <input type="submit" value="Create Recipe">
            </form>
        </section>
    </section>
    <script src="js/main.js"></script>
</body>
</html>