<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>getForks - making food better</title>
</head>
<body>
    <%- include('partials/header') -%>
    <article class="content-container">
        <!-- <span id="openModal" class="makeBig">&plus;</span> -->
        <h1>Browsing all recipes</h1>
        <section>
        <% repos.filter(repo => repo.display).forEach(repo => { %> 
            <article class='recipeItem shadow' data-id='<%=repo._id%>'>
                <a href="<%=repo.userId.username%>/<%=repo._id%>">
                    <h3 class="center"><%=repo.title%></h3>
                </a>
                <% if (repo.description.length > 0) { %>
                    <p><%=repo.description.slice(0,128) + '...'%></p>
                <% } %>
            </article>
        <% }) %>    
        </section>
    </article>
    <script src="js/main.js"></script>
</body>
</html>