<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>getForks - <%=usernamePage%>/<%=repo.title%></title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="bg-white min-h-screen flex flex-col flex-nowrap justify-start">
    <%- include('partials/header') -%>
    <section class="container mx-auto mt-8 max-w-5xl mb-4 px-4">
        <div class="flex justify-between">
        <h2 class="font-bold text-xl"><a href="."><%=usernamePage%></a></h2>
        <section class="content-container flex flex-end" id="version-select">
            <label for="version">Choose a version: </label>
            <select name="version" id="version" class="mb-2 text-lg">
                <% for (let i = 0; i < repo.versions.length; i++) { 
                    let selected = ( version == i ) ? "selected" : "" 
                %>
                    <option value="<%=i%>" <%=selected%>><%=i%></option>
                <% } %>  
            </select>
        </div>
    </section>

    <%if (forkedFrom != null) {%>
    <div class="container mx-auto max-w-5xl mb-4 text-sm px-4">
        Forked from: <a href="/<%=forkedFrom.userId.username%>/<%=forkedFrom._id%>"><%=forkedFrom.userId.username%>/<%= forkedFrom._id%></a>
    </div>
    <% }%>
    
    <section class="container flex flex-col recipe-body shadow p-4 md:p-8 max-w-5xl mx-auto mb-32" data-id="<%=repo._id%>" data-username="<%=usernamePage%>">
        <% if (user != null && user.username === usernamePage) {%>
            <div class="flex justify-between" data-id="<%=repo._id%>" data-username="<%=usernamePage%>">
                    <form action="/<%=usernamePage%>/deleteRecipe?_method=DELETE" method="POST" onsubmit="return confirm('Do you really want to delete this repository?');">
                        <input type="hidden" name="repoId" value="<%=repo._id%>">
                        <input type="hidden" name="username" value="<%=usernamePage%>">
                        <a href="/<%=usernamePage%>">
                            <input type="submit" value="&times;" class="font-bold text-3xl text-blue hover:text-brBlack cursor:pointer">
                        </a>
                    </form>
                <h1 class="font-bold text-3xl text-center" data-username="<%=usernamePage%>"><%=repo.versions[version].title%></h1>
                <span class='edit text-3xl text-blue font-bold cursor-pointer'>&cup;</span>
            </div>
        <% } else if (user != null){ %>
            <div class="flex justify-end"></div>
                <form action="/<%=usernamePage%>/forkRepo" method="POST">
                    <input type="submit" value="&Psi;" class="text-2xl text-blue cursor-pointer font-bold fork" class="">
                    <input type="hidden" name="repoId" value="<%=repo._id%>">
                </form>
            </div>       
            <h1 class="font-bold text-3xl text-center" data-username="<%=usernamePage%>"><%=repo.versions[version].title%></h1>
            
        <% } else  {%>
            <h1 class="font-bold text-3xl text-center" data-username="<%=usernamePage%>"><%=repo.versions[version].title%></h1>
        <% } %>
        

        <% if (repo.image) {
            let baseUrl = repo.image.slice(0,49), filename = repo.image.slice(62) 
        %>
        <img class="mt-4 self-center rounded"
    	sizes="(min-width: 30em) 50em, 28em, 100vw"
    	srcset="<%=baseUrl%>/f_auto,q_70,w_256/<%=filename%> 256w,
    	        <%=baseUrl%>/f_auto,q_70,w_512/<%=filename%> 512w,
    	        <%=baseUrl%>/f_auto,q_70,w_768/<%=filename%> 768w,
    	        <%=baseUrl%>/f_auto,q_70,w_1024/<%=filename%> 1024w,
    	        <%=baseUrl%>/f_auto,q_70,w_1280/<%=filename%> 1280w"
    	src="%<=baseUrl%>/f_auto,q_70,w_512/%<=filename%>"
    	alt="User provided image of recipe" />

        <% } %>
        <h2 class="font-bold text-xl my-2 mt-8">Description:</h2><p><%=repo.description%></>
        <h2 class="font-bold text-xl my-2">Notes:</h2> <p><%=repo.versions[version].notes%></p>
        <h2 class="font-bold text-xl my-2">Ingredients:</h2><p><%-repo.versions[version].ingredients%></p>
        <h2 class="font-bold text-xl my-2">Instructions:</h2> <p><%-repo.versions[version].instructions%></p>
        <h2 class="font-bold text-xl my-2">Tags:</h2>
        <div class="text-left"><span><%repo.tags.forEach(tag => {%><a href="/search?query=<%=tag%>" class="hover:text-blue cursor:pointer"><span><%=tag%></span></a> <%})%></span></div>

    </section>
    <%-include('partials/editmodal')-%>
    <%- include('partials/footer') -%>